@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a class="nav-link" asp-area="" asp-controller="Pens" asp-action="Index">Pen App Table </a>

<div class=" Sticks">
    <img class="Pen" src="~/img/Pen1.png" />
    <img class="Pen" src="~/img/Pen2.png" />
    <img class="Pen" src="~/img/Pen3.png" />
    <img class="Pen" src="~/img/Pen4.jpg" />
    <img class="Pen" src="~/img/Pen5.png" />
</div>